@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* @import './variables/theme-variable.css'; */

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-button {
  color: #faa21b;
}

.ant-table-thead > tr > th {
  color: white !important;
  background: #faa21b !important;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.profile-card > .ant-card-body {
  padding: 0 !important;
}

.ant-menu-item-selected {
  background-color: #faa21b !important;
  border-left: 3px solid white;
}

.ant-tooltip-inner {
  color: black !important;
}

.ant-btn-primary {
  background-color: #faa21b !important;
  border: #faa21b !important;
}

.ant-btn-danger {
  background-color: red !important;
  border: red !important;
}

.c-primary {
  color: #faa21b;
}

.f-bold {
  font-weight: bold;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.flex {
  display: flex;
}

.filter-bar {
  display: flex;
  flex-direction: end;
  align-content: space-around;
  margin-left: 0.5rem;
}

.center {
  text-align: center;
}

.ml-05 {
  margin-left: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.paging-active {
  background-color: #faa21b;
}

.paging-clickable {
  cursor: pointer;
}

.relative {
  position: relative;
}
